/* styles.css */

/* 共通スタイル */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1,
p {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* リンクボタンのスタイル */
a.button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff0000; /* 赤い色 */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center; /* テキストを中央揃え */
  text-decoration: none; /* リンクの下線を削除 */
}

a.button:focus {
  outline: none;
}

/* 問題セットのスタイル */
.question {
  display: flex;
  flex-direction: column; /* 縦に配置するための修正 */
  align-items: center;
  margin-bottom: 20px; /* 問題間の余白を追加 */
}

/* 最初の問題以外の余白を設定 */
.question + .question {
  margin-top: 20px;
}

.question p {
  font-size: 24px; /* 例: テキストサイズを24pxに変更 */
}

/* モバイル向けスタイル */
@media screen and (max-width: 768px) {
  .mobile-image-container {
    text-align: center;
    margin-top: 20px;
  }

  .mobile-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

